body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header,
section {
  text-align: center;
}

a {
  color: #8256ab;
}

a:active {
  color: #d81043;
}

span {
  margin-left: 15px;
}
